streamlit
opencv-python-headless
numpy
tensorflow
torch
keras
ultralytics
numpy
pandas
sentence-transformers
langchain
pypdf
python-dotenv
pinecone[grpc]
pinecone-client
langchain-pinecone
langchain_community
langchain_openai
langchain_experimental
langchain_ollama
langchain_huggingface
langchain-core
pytest