streamlit
pickle
numpy
tensorflow
torch
keras
PIL 
cv2
base64
io
ultralytics
numpy
pandas
sentence-transformers
langchain
pypdf
python-dotenv
pinecone[grpc]
langchain-pinecone
langchain_community
langchain_openai
langchain_experimental