streamlit
numpy
tensorflow
torch
keras
opencv-python-headless
ultralytics
numpy
pandas
sentence-transformers
langchain
pypdf
python-dotenv
pinecone[grpc]
pinecone-client
langchain-pinecone
langchain_community
langchain_openai
langchain_experimental
langchain_ollama
pytest