.custom-header {
    font-size: 24px;
    font-weight: bold;
}

.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center-caption {
    text-align: center; 
    margin-top: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 18px;
    text-align: center;
}

table th, table td {
    padding: 12px 15px;
    text-align: center;
}

table th {
    background-color: #009879;
    color: #ffffff;
}

table tr {
    border-bottom: 1px solid #dddddd;
}

table tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

table tr:last-of-type {
    border-bottom: 2px solid #009879;
}
